@use "./variables/font";
@use "./variables/color";

@use "./shared/buttons";
@use "./extentions/navigation";
@use "./extentions/cart";
@use "./extentions/forms";
@use "./extentions/admin";
@use "./extentions/pagination";
/*-----general styles--------*/

html {
    font-size: 16px;
}

// @media screen and (min-width: 320px) {
//     html {
//         font-size: calc(16px + 6 * ((100vw - 320px) / 680));
//     }
// }

// @media screen and (min-width: 1000px) {
//     html {
//         font-size: 22px;
//     }
// }


body {
    font-family: font.$body-font;
    font-size: font.$size-default;
    line-height: 1.5;
    word-wrap: break-word;
    word-break: break-word;
    color: color.$color-default;
    background-color: color.$bg-color-default;
    padding: 0;
    margin: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a {
    text-decoration: none;
    color: color.$color-default;
    background-color: transparent;
}

a:link {
    cursor: pointer;
}

h1,
h2,
h3 {
    font-family: font.$header-font;
    padding: 0;
    margin: 1em 0 0 0.3em 0;
    font-weight: 400;
}

input, textarea, select {width: 100%; font-family: inherit;size: 1em;;}
textarea {min-height:80px}
select option {padding:3px;}
option {
    font-size: 13px;
    background-color: #ffffff;
    //padding:5px;
}

option:before {
    content: ">";
    font-size: 20px;
    display: none;
    padding-right: 10px;
    padding-left: 5px;
    padding: 10px;
    color: #fff;
}

option:hover:before {
    display: inline;
}
option:hover {
    display: inline;
    background-color: #ccc;
}
.data-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    background-color: color.$white;
    padding: 15px;
}
.div-fx{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    // flex-direction:column;
    // flex-wrap:wrap;
}
.div-fx-loading {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;

}
.image-add-edit{min-width:150px;}
.margin-r {margin-right:10px}

.w-50{width:60%;}

.data-left {
    width: 300px
}
.pos-abs {
    position: absolute;
    width:180px;
    // height: auto;
    // padding: 1px 5px;
    // background-color: #dbdbdb;
}


.main-wrapper {
    display: grid;
    grid-template-columns: repeate(4fr 1fr);
    grid-template-areas:
        "price price price price "
        "price price price price "
        "price price price price ";
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: color.$white;
    width: 100%;
}

.container, .container-two-row {
    display: grid;
    grid-template-columns: repeate(4fr 1fr);
    grid-template-rows: repeate(4fr 1fr);
    grid-template-areas:
        "price price price price "
        "price price price price "
        "price price price price "
        "price price price price ";
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: color.$white;

    .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;

        .product {
            display: grid;
            grid-row-end: 1;
            border: 1px solid #ddd;
            padding: 20px;
            background-color: color.$white;
            text-align: center;
            transition: background-color 0.3s ease;

            &:hover{
            background-color: #fdfdfd;
            border:1px solid #aaa9a9;
            overflow: hidden;
                top: 300px;
                left: 300px;
                transition: all .5s ease;
                -webkit-transform: scale(1.01);
                -moz-transform: scale(1.01);
                -ms-transform: scale(1.01);
                -o-transform: scale(1.01);
                transform: scale(1.01);
                z-index: 1;
            }
        }
        
        .product_image{

        }

        .product p {}

        .product a {
            min-height: 100px;
        }
        .product h2{
            font-weight: 400;
            font-size:18px;
            align-items: end;
            margin-block-end: 0;
            min-height: 100px;
            align-items:start;
        }
        p.price {
            //align-items: end;
                font-size: 2em;
                margin: 0.3em 0;
                align-self: end;
                height: 50px;
        }
                .btn-holder {
                    justify-content: center;
                    align-self: end;
                }
        .loadMoePrducts {
            display: block
        }
    }
}
.container-two-row {
    display: grid;
    grid-template-columns: repeate(4fr 1fr);
    grid-template-rows: repeate(1fr 1fr);
    grid-template-areas:
        "price price price price ";
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: color.$white;
    .product-grid {
        .product h2 {
            min-height: 20px;
        }
        p.price {
            font-size: 1.4em;
        }
    }
}

.div-flex{display: flex; align-items: center;}
.div-flex span{padding: 0 20px;}
input, textarea, select {
    width: 100%;
    font-size: 1.05em;
    color: #464444;
    border-radius: 50px;
    padding: 7px 15px;
    border: 3px solid color.$input-br-color;
    
    &:hover {
        border-color: color.$input-br-color-hover;
    }
    &:focus {
        outline: none;
        border-color: color.$input-br-color-focus;
    }
}

.filters {
    width: 280px
}
input.input-search {
    border-radius: 50px !important;
    padding: 10px;
    display: flex;
    width: 90%;
}
input.price {
    border-radius: 50px !important;
    padding: 10px;

    width: 20%;
}
.data-cotntainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.data-cotntainer-right,
.data-cotntainer-left {
    width: auto;
}
.loadMoePrducts {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.warning {
    font-size: 18px;
}
table {
    width: 100%;
}

tr:hover {
    background-color: color.$btn-bg-color;
}

tr:nth-child(even) {
    background-color: #f5f9fa;
}

th,
td {
    text-align: left;
    padding: 6px;
}
.navigation li>a {
    display: inline-block;
    position: relative;

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        bottom: 0;
        height: 2px;
        margin: -5px 0;
        left: 0;
        background-color: color.$nav-br-color;
        transition: all 0.4s ease-in 0s;
    }

    &:hover:after {
        width: 100%;
    }
}

.logo {
    font-size: 1.5em;
}

.navbar {
    background-color: #424242;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
    color: white;
}

.nav-list a {
    text-decoration: none;
    color: white;
    //font-weight: bold;
    //font-size: 18px;
}

.menu-icon {
    cursor: pointer;
    display: none;
    /* Initially hide on larger screens */
}

.bar {
    display: block;
    width: 25px;
    height: 2px;
        background-color: white;
        margin: 5px 0;
}
.btn-delete, .btn-update {
   //font-size:10px;
    //background-position: center;
    //height: 20px;
    //width: 20px;
    //background-image: url("../components/assets/delete.png");
}
// .navbar {
//     background-color: #333;
//     color: color.$white;
// }

// .menu {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     position: absolute;
//     top: 70px;
//     left: 0;
//     width: 100%;
//     background-color: #333;
//     display: none;
// }

// .menu a {
//     padding: 10px;
//     text-align: center;
//     text-decoration: none;
//     color: color.$white;
//     display: block;
// }

// .menu-icon {
//     cursor: pointer;
//     display: none;
// }

// .bar {
//     width: 25px;
//     height: 3px;
//     background-color: color.$white;
//     margin: 6px 0;
// }





//* Media Query *//
//945
@media screen and (max-width: 945px) {
    .main-wrapper {
        display: block;
    }
    .container {
        display: grid;
        grid-template-columns: repeate(2fr 1fr);
        grid-template-rows: repeate(4fr 1fr);
        grid-template-areas:
            "price price"
            "price price"
            "price price"
            "price price";
        grid-gap: 20px;
        padding: 0;
    }
    .data-cotntainer-left {
        width: 100%;
    }
    .filters {
        width: 100%;
    }
    .menu {
        display: none;
    }
    .menu-icon {
        display: none;
    }
    .menu-open {
        display: flex;
    }
}
//768
@media only screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        padding: 10px;
    }

    .nav-list.show {
        display: flex;
    }

        .menu-icon {
            display: block;
        }
    
        .nav-list li {
            margin: 10px 0;
        }
        }
//600
@media screen and (max-width: 600px) {
    .main-wrapper {
        display: block;
        padding: 0;
    }

    .container {
        display: grid;
        grid-template-columns: repeate(2fr 1fr);
        grid-template-rows: repeate(4fr 1fr);
        grid-template-areas:
            "price price"
            "price price"
            "price price"
            "price price";
        grid-gap: 20px;
        padding: 0;

    }
    .filters {
        width: 100%;
    }
    .data-cotntainer-left {
        width: 100%
    }
    .shopping-cart-panel {
        display: none;
    }
    .menu {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .menu-open {
        display: flex;
    }

    //
    .item-detail {
        display:block;
        flex-wrap: nowrap;
    }

    .item-detail-image {

    }

    .item-detail-data {
        margin-left: 0;
        p {
            color: #686868;
        }
        h2{font-size: 1.75rem;font-weight: 500;}
        h3 {
            font-weight: 500;
            line-height: 1;
            //color:#0058ab;
            color: #686868;
            font-size: 1.5rem;
        }
    }
}

//320-480
@media screen and (max-width: 480px) {
    .main-wrapper {
        display: block;
        padding: 0;
    }

    .container {
        display: grid;
        grid-template-columns: repeate(fr 1fr);
        grid-template-rows: repeate(4fr 1fr);
        grid-template-areas:
            "price"
            "price"
            "price"
            "price";
        grid-gap: 20px;
        padding: 0;

    }

    .filters {
        width: 100%;
    }

    .data-cotntainer-left {
        width: 100%
    }

    .shopping-cart-panel {
        display: none;
    }

    .menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .menu-open {
        display: flex;
    }

    //
    .item-detail {
        display: block;
        flex-wrap: nowrap;
    }

    .item-detail-image {}

    .item-detail-data {
        margin-left: 0;

        p {
            color: #686868;
        }

        h3 {
            font-weight: 500;
            line-height: 1;
            //color:#0058ab;
            color: #686868;
            font-size: 1.75rem;
        }
    }
}