//fonts
$color-default: #353535;
$color-dark: #fcfc;

//Background
$bg-color-default: #fdfcfc;
$bg-color-dark: #0f0f0f;

//Background
$product-color-default: #ebe8e8;
//nav
$nav-color-default: #fffffffd;
//cart-btn
$btn-bg-color: #f0eeeefd;
$btn-br-color: #dcdcdcfd;
$btn-bg-color-hover: #aca7a7fd;
$btn-br-color-hover: #c6c6c6fd;
//buttons
$btn-color-light: #ebebeb;
$btn-color-dark: #333350;
//cart-selector
$dot-color-link: #ebebeb;
$dot-color-active: #333350;
//nav
$nav-br-color: #c6c6c6fd;
//circle
$circle-br-color: #c6c6c6fd;
//input
$input-br-color: #e7e5e5;
$input-br-color-hover: #9f9d9d;
$input-br-color-focus: #9f9d9d;
$hr-color:#d9d9d9;

//color palet
$white: #ffffff;
$perl: #cecece;
$pear: #eeff88;
$amber: #fed672;
$apricot: #ffb469;
$coral: #ff8383;
$rose: #ffa5be;
$cerise: #ff9ed8;
$thistle: #eebeff;
$lavender: #bfbcff;
$sea: #46d7f5;
$mint: #62e2cb;
$palegreen: #a7fb93;
$goldenrod: #c29500;
$copper: #dd5e00;
$carmine: #e6190a;
$ruby: #dd196d;
$fuchsia: #dc00e6;
$eggplant: #77008f;
$indigo: #631de1;
$ultramarine: #1423ff;
$ink: #14141e;

$text-light-color: #cecece;